body {

    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;

}

main {
    display: flex;
    flex-direction: row;
    flex: auto;

}


article{
    flex: 2;
    overflow-y: auto;
    color: green;
}

aside{
    flex: 1;
    overflow-y: auto;
}
